.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header-group-name
        = @group.name
      .chat-main__header-group-edit-btn
        =link_to 'edit', edit_group_path(@group)
      .chat-main__header-members 
        = "Members: #{@group.users.map(&:name).join(" ")}"
    .chat-main__body
      = render partial: 'message', collection: @messages

  .footer
    .footer__form
      = form_for [@group, @message] do |f|
        .footer__form-boby
          = f.text_field :body, class: 'footer__form-body-message', placeholder: 'type a message'
          = f.label :image, class: 'footer__form-body-image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'footer__form-body-file'
          = f.submit 'Send', class: 'footer__form-body-submit'
