.wrapper
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header-group-name
        = @group.name
      .chat-main__header-group-edit-btn
        =link_to 'edit', edit_group_path(@group)
      .chat-main__header-members 
        = "Members: #{@group.users.map(&:name).join(" ")}"
    .chat-main__body
      = render partial: 'message', collection: @messages

    .chat-main__footer
      .chat-main__footer-form
        = form_for [@group, @message] do |f|
          .chat-main__footer-body
            = f.text_field :body, class: 'chat-main__footer-body-message', placeholder: 'type a message'
            = f.label :image, class: 'chat-main__footer-body-image' do
              = fa_icon 'image'
              = f.file_field :image, class: 'chat-main__footer-body-file'
            = f.submit 'Send', class: 'chat-main__footer-body-submit'